<p>ミルメをご利用頂き誠にありがとうございます</p>
<% if @init %>
  <p>以下のURLから、パスワードの初期設定を行ってください。</p>
<% else %>
  <p>以下のURLから、パスワードの再設定を行ってください。</p>
<% end %>

<p><%= link_to nil, edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s, init: @init).html_safe%></p>

<p>※このメールアドレスは送信専用のため、返信は受け付けておりません。</p>
<p>※このメールに心あたりがない場合は、恐れ入りますがこのメールを破棄して下さい。</p>